.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playerControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerControls .current-song-details {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.playerControls .controls {
  width: 100%;
  justify-content: center;
  gap: 50px;
  margin: 0 10px;
}
.playerControls .control-icon img {
  width: 15px;
  height: 15px;
}

.playerControls .progress {
  height: 5px;
  background-color: #444;
}

.playerControls .progress-bar {
  background-color: #1db954;
}
.album-card {
  position: relative;
}

.album-card .btn-link {
  position: absolute;
  top: 5px;
  right: 90px;
  padding: 0;
  border: none;
  background: none;
}

.album-card .btn-link img {
  width: 20px;
  height: 20px;
}
